/* Start Custom Variables */
:root {
  --main-color: #10cab7;
  --secondry-color: #24484f;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --section-margin: 80px;
  --main-duration: 0.4s;
}
/* End Custom Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Work Sans", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Custom Using */
.special-heading {
  color: #ebeced;
  text-align: center;
  font-weight: 800;
  font-size: 100px;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  text-align: center;
  color: #797979;
  margin: -30px 0 0;
  font-size: 20px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin: -20px 0 0;
  }
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/* End Custom Using */
/* Start Header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header .logo {
  width: 70px;
}
.header .links {
  position: relative;
}
.header .links:hover .icons span:nth-child(2) {
  width: 100%;
}
.header .links .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 35px;
}
.header .links .icons span {
  height: 3px;
  margin-bottom: 5px;
}
.header .links .icons span:first-child {
  background-color: #222;
  width: 100%;
}
.header .links .icons span:nth-child(2) {
  background-color: #222;
  width: 60%;
  transition: var(--main-duration);
}
.header .links .icons span:last-child {
  background-color: #222;
  width: 100%;
}
.header .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--secondry-color);
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  min-width: 200px;
  display: none;
  z-index: 1;
}
.header .links ul li {
  padding: 10px;
}
.header ul li:not(:last-child) {
  border-bottom: 1px solid #4383909a;
}
.header .links ul::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent #24484f transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}
.header ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: var(--main-duration);
}
.header .links ul a:hover {
  padding-left: 25px;
  font-weight: 600;
}
.header .links:hover ul {
  display: block;
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url(../images/zza-1920x1080.jpg);
  background-size: cover;
  height: calc(
    100vh - 64px
  ); /* the header height to make no scroll that because (vh) */
  position: relative;
}
.landing .intro-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* to make p not in one line */
  max-width: 100%; /* to make it dosen't go out of the page when it become more than 100%*/
}
.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* End Landing Section */
/* Start Feature Section */
.feature {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.feature .container {
  gap: 20px;
}
.feature .feat {
  text-align: center;
}
.feature .feat h3 {
  font-weight: 800; /* extra-bold */
  margin: 30px 0;
}
.feature .feat p {
  color: #777;
  line-height: 1.8;
  font-size: 17px;
}
.feature .feat i {
  color: var(--main-color);
}
/* End Feature Section */
/* Start Survices Section */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  gap: 30px;
  margin-top: var(--section-margin);
}
.services .ser {
  display: flex;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .services .ser {
    flex-direction: column;
    text-align: center;
  }
}
.services .ser i {
  color: var(--main-color);
  flex-basis: 60px; /* to manage width and height together with any flex direction */
}
.services .ser .text {
  flex: 1; /* order => to make it take all remain space (i has order 0) */
}
.services .ser .text h3 {
  margin: 0 0 20px;
}
.services .ser .text p {
  color: #777;
  font-weight: 300;
  line-height: 1.6;
}
.services .image {
  position: relative;
}
.services .col img {
  width: 80%;
  height: 370px;
}
.services .col .image::before {
  content: "";
  background-color: var(--secondry-color);
  position: absolute;
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  right: 12px;
  z-index: -1;
}
@media (max-width: 1199px) {
  .services .services-content .col .image {
    display: none;
  }
}
/* End Survices Section */
/* Start Portfolio Section */
.portfolio {
  margin-top: 30px;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  gap: 30px;
  margin-top: var(--section-margin);
}
.portfolio .card {
  background-color: #fff;
}
.portfolio-content img {
  max-width: 100%;
}
.portfolio-content .info {
  padding: 20px;
}
.portfolio-content .info h3 {
  margin: 0; /* to make .info padding manage places */
  font-size: 1.17em;
  font-weight: bold;
}
.portfolio-content .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .portfolio .card {
    text-align: center;
  }
}
/* End Portfolio Section */
/* Start About Section */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding + 60px); /* because of (image:before) */
}
.about .about-content {
  margin-top: var(--section-margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .image img {
  max-width: 100%;
}
.about .about-content .image::before {
  content: "";
  background-color: #ebeced;
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  z-index: -1;
  top: -40px;
  left: -20px;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 120px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  right: -150px;
  top: -40px;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .text {
  /* or: flex: 1;
  padding-left: 250px;
  ,but when do that you eill have to change padding-left in media with max-width: 991px */
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-child {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  display: inline-block;
  width: 50%;
  border-color: var(--main-color);
}
.about .about-content .text p:last-child {
  line-height: 2;
  color: #777;
}
/* End About Section */
/* Start Contact Section */
.contact {
  margin-top: 100px;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .text {
  text-align: center;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .text p:first-child {
  font-weight: 800;
  font-size: 35px;
  color: var(--secondry-color);
  margin-bottom: 15px;
  letter-spacing: -2px;
}
.contact .text a {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
  margin-top: 20px;
}
.contact .text p:last-child i {
  margin-left: 10px;
  color: var(--secondry-color);
  cursor: pointer;
  transition: 0.2s;
}
.contact .text p:last-child i:first-child:hover {
  transform: scale(1.5);
  color: #ff0000;
} 
.contact .text p:last-child i:nth-child(2):hover {
  transform: scale(1.5);
  color: #0377c5;
} 
.contact .text p:last-child i:last-child:hover {
  transform: scale(1.5);
  color: #47c2ff;
} 
@media (max-width: 767px) {
  .contact .text p:first-child,
  .contact .text a {
    font-size: 25px;
  }
}
/* End Contact Section */
/* Start Footer */
.footer {
  background-color: var(--secondry-color);
  color: #fff;
  padding: 30px 10px;
  font-size: 20px;
  text-align: center;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer */
